.xyy_tool{    
	float:right;
	margin-right:10px;
}
.xyy_tool ul li{
    list-style-type:none;
	float:left;
	line-height:72px;
	border-left:1px dashed #eeeeee;
}
.xyy_tool ul li:hover{
    background:#2f4050;
}
.xyy_tool ul li a{
    text-decoration:none;
	font-size:14px;
	color:#fff;
	margin:0 15px 0 30px;
	line-height:72px;
}
#tab-tools{
	padding:0 10px;
	color:#0E2D5F;
	font-weight:bold;
	color:#ffffff;
}
#tab-tools a{
    line-height:32px;
	text-decoration:none;
    color:#ffffff;	
}
#tab-tools a:hover{
    color:#19aa8d;
}
#tt a{
    text-decoration:none;
	color:#666;
}
.jiankong{
	float:left;
	width:25%;
}
.jiankongx{
	float:left;
	width:50%;
}
.juxing{
	width:180px;
	height:90px;
	margin-top:10px;
	text-align:center;
	border:1px dashed #19aa8d;
    border-radius:25px;
    -moz-border-radius:25px; /* Old Firefox */
	-webkit-border-radius:25px; /* Old Firefox */	
}
.juxing a{
    color:#2f4050;
    line-height:90px;
	text-decoration:none;
	font-size:18px;
}.juxing span{
    color:red;
}
.xyy-tuichu{
    background:url('icons/xyy-tuichu.png') no-repeat center center;
}
.xyy-mima{
    background:url('icons/xyy-mima.png') no-repeat center center;
}
.xyy-ziliao{
    background:url('icons/xyy-ziliao.png') no-repeat center center;
}
.xyy-xinxi{
    background:url('icons/xyy-xinxi.png') no-repeat center center;
}
.xyy-hello{
    background:url('icons/xyy-hello.png') no-repeat center center;
}
.xyy-time{
    background:url('icons/xyy-time.png') no-repeat center center;
}